@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*start reset*/

.uk-section {
    background-color: transparent !important;
}

/*end reset*/


:root{
    /* ===== Colors ===== */
    --bg-color-primary: #f5f5f9;
    --bg-color-secondary: #740aea;

    --color-primary: #f5f5f9;
    --color-inverted: #0d1117;
    
    --text-color-meta: #8b949e;

    --text-color-primary: #740aea;
    --text-color-secondary: #0d1117;

    --white-color: #f5f5f9;
    --primary-color: #695CFE;
    --primary-color-light: #FFFFFF;
    --secondary-color: #333;
    --toggle-color: #DDD;
    --text-color: #18191a;

    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Nunito', sans-serif;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

html.dark {

    --bg-color-primary: #0d1117;
    --bg-color-secondary: #740aea;

    --color-primary: #0d1117;
    --color-inverted: #f5f5f9;

    --text-color-primary: #f5f5f9;
    --text-color-secondary: #f5f5f9;


    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

}


html, body {
    background-color: var(--bg-color-primary) !important;
    transition: var(--tran-05);
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6 {
    font-family: var(--secondary-font) !important;
    color: var(--text-color-secondary) !important;
}

.uk-h1 {
    font-size: 5em !important;
    font-weight: 900 !important;
}

@media only screen and (max-width: 640px) {

    .uk-h1 {
        font-size: 4em !important;
    }

}

.uk-h2 {
    font-size: 4em !important;
    font-weight: 800 !important;
}

@media only screen and (max-width: 640px) {

    .uk-h2 {
        font-size: 2em !important;
    }

}

.uk-h3 {
    font-size: 3em !important;
    font-weight: 700 !important;
}

.uk-text-lead {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 2em;
    color: var(--text-color-secondary) !important;
}

.uk-text-meta {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 1.2px;
    color: var(--text-color-meta) !important;
    opacity: .6;
}

.uk-breadcrumb li a, .uk-breadcrumb li span {
    font-family: var(--secondary-font) !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    color: var(--text-color-secondary) !important;
}

.uk-navbar-center li a {
    font-family: var(--secondary-font) !important;
    color: var(--text-color) !important;
    font-weight: 800 !important;
    font-size: 14px !important;
}

.uk-navbar-center li.uk-active > a {
    color: #4ade80 !important;
}

.uk-navbar-center li a:hover {
    color: #740aea !important;
}

.uk-navbar-right li a {
    padding: 0 5px !important;
}

.uk-nav li a {
    text-transform: uppercase !important;
    font-family: var(--secondary-font) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: var(--text-color) !important;
}

.uk-navbar-dropdown-nav li a {
    text-transform: uppercase !important;
    font-family: var(--secondary-font) !important;
    font-weight: 800 !important;
    font-size: 14px !important;
    color: var(--color-primary) !important;
}

.uk-navbar-dropdown {
    background-color: var(--color-inverted) !important;
    min-width: 250px !important;
}

.uk-list li a {
    font-family: var(--secondary-font) !important;
    color: var(--text-color) !important;
    font-weight: 800 !important;
    font-size: 14px !important;
}

::selection{
    background-color: var(--color-inverted) !important;
    color: var(--color-primary) !important;
}

body.dark{

    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    transition: var(--tran-04);
}

.dark
.switch::before {
    left: 21px !important;
}



header {
    padding-top: 200px !important;
}




.uk-card-primary {
    background-color: var(--bg-color-secondary) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-image: url('https://assets.website-files.com/6239c2cd52949d0f76a8f421/6239c2ce52949d39c0a8f70c_bg-shape-05.png') !important;
}

.uk-offcanvas-bar {
    background-color: var(--color-primary) !important;
}

/*html 
.on-bg-header-1 {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-image: url(https://assets.website-files.com/6239c2cd52949d0f76a8f421/6239c2ce52949d4586a8f713_bg-shape-001.png) !important;
}*/

html.dark
.on-bg-header-1 {
    background-image: radial-gradient(circle farthest-corner at -25% -50%, #0d1117 36%, rgba(13,17,23,0) 48%),
        radial-gradient(circle farthest-corner at -25% 150%, #0d1117 45%, rgba(13,17,23,0) 89%),
        radial-gradient(circle farthest-corner at -25% -100%, rgba(13,17,23,0) 55%, rgba(13,17,23,.28) 65%, rgba(13,17,23,0) 68%),
        radial-gradient(circle farthest-corner at -33% -75%,#630BC7 48%, rgba(131,5,49,0) 56%),
        radial-gradient(circle farthest-side at 0 -50%,rgba(13,17,23,0) 64%,rgba(1,2,36,.4) 69%,rgba(13,17,23,0) 81%),
        radial-gradient(circle farthest-corner at 0 -50%,rgba(13,17,23,0) 33%,#740aea 51%,rgba(13,17,23,0) 72%) !important;
}

.on-bg-header-1
.uk-text-primary {
    padding-right: 0.05em;
    background-image: linear-gradient(351deg,#740aea 23%,#740aea 87%);
    background-image: linear-gradient(243deg,#4ade80 23%,#14b8a6 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.uk-text-secondary {
    padding-right: 0.05em;
    background-image: linear-gradient(351deg,#740aea 23%,#740aea 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

html.dark
.on-bg-header-2 {
    background-image: radial-gradient(circle farthest-corner at -25% -50%, #0d1117 36%, rgba(13,17,23,0) 48%),
        radial-gradient(circle farthest-corner at -25% 150%, #0d1117 45%, rgba(13,17,23,0) 89%),
        radial-gradient(circle farthest-corner at -25% -100%, rgba(13,17,23,0) 55%, rgba(13,17,23,.28) 65%, rgba(13,17,23,0) 68%),
        radial-gradient(circle farthest-corner at -33% -75%,#fde047 48%, rgba(131,5,49,0) 56%),
        radial-gradient(circle farthest-side at 0 -50%,rgba(13,17,23,0) 64%,rgba(1,2,36,.4) 69%,rgba(13,17,23,0) 81%),
        radial-gradient(circle farthest-corner at 0 -50%,rgba(13,17,23,0) 33%,#d97706 51%,rgba(13,17,23,0) 72%);
}

.on-bg-header-2
.uk-text-primary {
    padding-right: 0.05em;
    background-image: linear-gradient(191deg,#fde047 25%,#d97706 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

html.dark
.on-bg-header-3 {
    background-image: radial-gradient(circle farthest-corner at -25% -50%, #0d1117 36%, rgba(13,17,23,0) 48%),
        radial-gradient(circle farthest-corner at -25% 150%, #0d1117 45%, rgba(13,17,23,0) 89%),
        radial-gradient(circle farthest-corner at -25% -100%, rgba(13,17,23,0) 55%, rgba(13,17,23,.28) 65%, rgba(13,17,23,0) 68%),
        radial-gradient(circle farthest-corner at -33% -75%,#4ade80 48%, rgba(131,5,49,0) 56%),
        radial-gradient(circle farthest-side at 0 -50%,rgba(13,17,23,0) 64%,rgba(1,2,36,.4) 69%,rgba(13,17,23,0) 81%),
        radial-gradient(circle farthest-corner at 0 -50%,rgba(13,17,23,0) 33%,#14b8a6 51%,rgba(13,17,23,0) 72%);
}

.on-bg-header-3
.uk-text-primary {
    padding-right: 0.05em;
    background-image: linear-gradient(243deg,#4ade80 23%,#14b8a6 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

html.dark
.on-bg-header-4 {
    background-image: radial-gradient(circle farthest-corner at -25% -50%, #0d1117 36%, rgba(13,17,23,0) 48%),
        radial-gradient(circle farthest-corner at -25% 150%, #0d1117 45%, rgba(13,17,23,0) 89%),
        radial-gradient(circle farthest-corner at -25% -100%, rgba(13,17,23,0) 55%, rgba(13,17,23,.28) 65%, rgba(13,17,23,0) 68%),
        radial-gradient(circle farthest-corner at -33% -75%,#1f00cc 48%, rgba(131,5,49,0) 56%),
        radial-gradient(circle farthest-side at 0 -50%,rgba(13,17,23,0) 64%,rgba(1,2,36,.4) 69%,rgba(13,17,23,0) 81%),
        radial-gradient(circle farthest-corner at 0 -50%,rgba(13,17,23,0) 33%,#010c5f 51%,rgba(13,17,23,0) 72%);
}


.on-bg-header-4
.uk-text-primary {
    padding-right: 0.05em;
    background-image: linear-gradient(351deg,#38bdf8 23%,#4f46e5 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

html.dark
.on-bg-header-5 {
    background-image: radial-gradient(circle farthest-corner at -25% -50%, #0d1117 36%, rgba(13,17,23,0) 48%),
        radial-gradient(circle farthest-corner at -25% 150%, #0d1117 45%, rgba(13,17,23,0) 89%),
        radial-gradient(circle farthest-corner at -25% -100%, rgba(13,17,23,0) 55%, rgba(13,17,23,.28) 65%, rgba(13,17,23,0) 68%),
        radial-gradient(circle farthest-corner at -33% -75%,#c084fc 48%, rgba(131,5,49,0) 56%),
        radial-gradient(circle farthest-side at 0 -50%,rgba(13,17,23,0) 64%,rgba(1,2,36,.4) 69%,rgba(13,17,23,0) 81%),
        radial-gradient(circle farthest-corner at 0 -50%,rgba(13,17,23,0) 33%,#db2777 51%,rgba(13,17,23,0) 72%);
}


.on-bg-header-5
.uk-text-primary {
    padding-right: 0.05em;
    background-image: linear-gradient(351deg,#c084fc 23%,#db2777 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.uk-icon-button {
    background-color: transparent !important;
    border: 1px solid var(--color-inverted);
    /*box-shadow: inset 0 0 5px 0 #3730a3, 0 8px 24px -8px #818cf8;*/
    color: var(--color-inverted) !important;
    height: 24px !important;
    width: 24px !important;
}
.uk-button-primary {
    font-family: var(--secondary-font) !important;
    font-weight: 800 !important;
    font-size: 14px !important;
    line-height: 28px  !important;
    color: var(--color-inverted) !important;
    
    border: none !important;
    background-image: linear-gradient(243deg,#4ade80 23%,#14b8a6 87%);
    padding: 10px 20px 10px 10px !important;
    border-radius: 50px !important;
    
    transition: var(--tran-05) !important;
}


.uk-button-default {
    font-family: var(--secondary-font) !important;
    font-weight: 800 !important;
    font-size: 14px !important;
    line-height: 28px  !important;
    color: var(--color-inverted) !important;
    
    border: none !important;
    background-color: var(--color-primary) !important;
    padding: 10px 20px 10px 10px !important;
    border-radius: 50px !important;
    
    transition: var(--tran-05) !important;
}


.uk-button-primary:hover {
    background-color: #740aea !important;
}


.uk-button span {
    background-color: rgba(0, 0, 0, .4) !important;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
    padding: 10px !important;
    margin-right: 10px !important;
    
}

.on-bg-shape-1 {
    background-color: var(--color-primary) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-image: url('https://assets.website-files.com/6239c2cd52949d0f76a8f421/6239c2ce52949d0dd8a8f709_bg-shape-02.png') !important;

}

.uk-heading-line {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 11px !important;
    letter-spacing: .2em;
    color: var(--text-color-secondary) !important;
    text-transform: uppercase !important;
}

.uk-heading-line>::after, .uk-heading-line>::before {

    border-color: #21262d !important;
    
}

.on-icon-pink {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 4em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 3px solid #818cf8;
    border-radius: 9999px;
    background-color: #4338ca;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#4f46e5,#4338ca);
    box-shadow: inset 0 0 5px 0 #3730a3, 0 8px 24px -8px #818cf8;
    color: #c7d2fe;
    font-size: 1.25em;
    text-align: center;
    
    border-color: #f472b6;
    background-color: #be185d;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#db2777,#be185d);
    box-shadow: inset 0 0 5px 0 #9d174d, 0 8px 24px -8px #f472b6;
    color: #fbcfe8;
}

.on-shape-radial-pink {
    background-image: url('/public/assets/images/radial-red.png') !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
}


.on-icon-green {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 4em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 3px solid #818cf8;
    border-radius: 9999px;
    background-color: #4338ca;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#4f46e5,#4338ca);
    box-shadow: inset 0 0 5px 0 #3730a3, 0 8px 24px -8px #818cf8;
    color: #c7d2fe;
    font-size: 1.25em;
    text-align: center;
    
    border-color: #2dd4bf;
    background-color: #0f766e;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#0d9488,#0f766e);
    box-shadow: inset 0 0 5px 0 #115e59, 0 8px 24px -8px #2dd4bf;
    color: #99f6e4;
}


.on-icon-blue {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 4em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 3px solid #818cf8;
    border-radius: 9999px;
    background-color: #4338ca;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#4f46e5,#4338ca);
    box-shadow: inset 0 0 5px 0 #3730a3, 0 8px 24px -8px #818cf8;
    color: #c7d2fe;
    font-size: 1.25em;
    text-align: center;
    
}

.uk-table-divider tr {
    
    border-color: #21262d !important;
}


.uk-table-divider>:first-child {
    border-top: 1px #21262d solid !important;
}



.uk-card-secondary {
    background-color: #161b22 !important;
}

.uk-section-secondary {
    background-color: #161b22 !important;
}


.uk-card-default {
    padding: 20px !important;
    background-color: #ffffff !important;
}

.uk-card-secondary {
    background-color: #161b22 !important;
}

.uk-card-secondary .uk-card-shape {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-image: url('https://assets.website-files.com/6239c2cd52949d0f76a8f421/6239c2ce52949d0dd8a8f709_bg-shape-02.png') !important;
}

.uk-cover-container {
    background-color: hsl(239deg 84% 67%) !important;
    margin-bottom: 15px !important;
}


.uk-cover-container img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    -o-object-fit: cover;
    object-fit: cover;
}


.bg-tile-top {
    padding: 100px 0 !important;
    position: relative !important;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#0d1117),color-stop(15%,rgba(13,17,23,0))),-webkit-gradient(linear,left top,left bottom,from(#0d1117),color-stop(15%,rgba(13,17,23,0))),radial-gradient(circle farthest-side at 50% 0,rgba(13,17,23,0),#0d1117),url(https://assets.website-files.com/6239c2cd52949d0f76a8f421/6239c2ce52949d1547a8f6b1_bg-tile-dark.svg) !important;
    background-image: linear-gradient(0deg,#0d1117,rgba(13,17,23,0) 15%),linear-gradient(180deg,#0d1117,rgba(13,17,23,0) 15%),radial-gradient(circle farthest-side at 50% 0,rgba(13,17,23,0),#0d1117),url(https://assets.website-files.com/6239c2cd52949d0f76a8f421/6239c2ce52949d1547a8f6b1_bg-tile-dark.svg) !important;
    background-position: 0 0,0 0,0 0,-1px -1px !important;
    background-size: auto,auto,auto,32px !important;
}

.bg-neutral-600 {
    background-color: #740aea !important;
}


.on-circle-icon {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 4em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 3px solid #818cf8;
    border-radius: 9999px;
    background-color: #740aea;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#740aea,#740aea);
    box-shadow: inset 0 0 5px 0 #3730a3, 0 8px 24px -8px #818cf8;
    color: #c7d2fe;
    font-size: 1.25em;
    text-align: center;
    
}
